/*
@font-face {
    font-family: "daisy";
    src: url('./assets/nomedafonte') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
/* o que é estruturante eu posso colocar normal, o que é div boto . antes e o que é ID, coloco #*/
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 900px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0.1);
    border-radius: 10px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header p{
    margin: 2px;
    color: #555;
}

h2{
    color: pink;
    border-bottom: 2px solid pink;
    padding-bottom: 5px;
    margin-top: 30px;
}

p,
li {
    text-align: justify;
    line-height: 1.6;
}

ul{
    list-style: none;
    padding: 0;
}

ul li {
    content: "!• ";
    color: pink;
    font-weight: bold;
}

.button{
    display: flex;
    justify-content: flex-end;
}

#btn-print{
    background-color: pink;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16 px;
    border-radius: 5px;
}

#btn-print:hover{
    background-color: #555;
}

@media print{
    #btn-print{
        display: none;
        visibility: hidden;
    }
}